.container {
  position: relative;
}
.container a {
  padding: 10px 15px;
  border-radius: 4px;
  background-color: rgb(73, 43, 226);
  border: none;
  position: absolute;
  right: 10px;
  top: 10px;
  color: white;
  font-weight: 500;
  text-decoration: none;
}
.container p {
  text-transform: capitalize;
}
.skill {
  padding: 7px 20px;
  border: 1px solid skyblue;
  border-radius: 4px;
  background-color: rgb(201, 232, 244);
}
.li-container {
  display: flex;
  gap: 5px;
  list-style: none;
  text-align: center;
  max-height: 30vh;
  overflow: auto;
  width: 80%;
  flex-wrap: wrap;
}
