<form class="form" (ngSubmit)="onSubmit()">
  <h3>{{text}} User</h3>
  <div class="form-control">
    <label for="name">Name : </label>
    <input required id="name" type="text" name="name" [(ngModel)]="name" />
    <label for="email">Email : </label>
    <input required id="email" type="email" name="email" [(ngModel)]="email" />
    <br>
    <label for="skill">
      <input
        required
        id="skill"
        type="skill"
        name="skill"
        [(ngModel)]="skill"
      />
      <button type="button" (click)="addSkill()">add skill</button>
    </label>
    <label for="age">Age : </label>
    <input
      required
      id="age"
      min="2"
      type="number"
      name="age"
      [(ngModel)]="age"
    />
    <p *ngIf="skillList.length">Added Skills : {{ skillList.join(", ") }}</p>
    <input type="submit" value="{{text}}" />
  </div>
</form>
