.header {
  margin: 0;
  background: linear-gradient(45deg, #442ef0ef, skyblue);
  padding: 1rem;
  font-weight: 800;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 98vw;
}
.btn {
  cursor: pointer;
  background-color: rgb(22, 237, 22);
  color: white;
  border: none;
  border-radius: 5px;
  padding: 14px 20px;
}
.header input {
  height: 40px;
  width: 20vw;
  border-radius: 2px;
  border: none;
  outline: none;
  padding-left: 10px;
  font-size: medium;
}
.search-btn {
  padding: 14px 20px;
  background-color: rgb(22, 237, 22);
  border-radius: 5px;
  border: none;
  margin-left: 2px;
  cursor: pointer;
}
.header a{
color: white;
text-decoration: none;
}
.logout{
  display: flex;
  align-items: center;
  justify-content: space-between;
  column-gap: 20px;
}