<div class="task-wrapper">
  <div class="flex">
    <input
      placeholder="Filter by Name"
      [(ngModel)]="query"
      (ngModelChange)="handleQuery()"
    />
    <button (click)="toggleModalVisibility()" class="btn">Add</button>
  </div>
  <app-modal [showModal]="modalVisibility">
    <app-create-user
      [total]="userData.length"
      (closeModal)="toggleModalVisibility()"
      (handleSubmit)="postData($event)"
    ></app-create-user>
  </app-modal>
  <div class="container" *ngIf="userData.length >= 1; else showThis">
    <app-task-item
      *ngFor="let item of userData"
      [user]="item"
      (handleDelete)="deleteUser($event)"
      (handleToggle)="toggleVerified($event)"
    ></app-task-item>
  </div>
</div>
<ng-template #showThis>
  <div class="no-data">No Data Found...</div>
</ng-template>
