/* You can add global styles to this file, and also import other style files */
html,
body,
:root {
  margin: 0;
  padding: 0;
}
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  border-radius: 2px;
  background-color: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(225, 225, 225);
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: grey;
}
